*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	width:100vw;
	background-color: darkgray;
}
#header{
	text-align: center;
	background-color: #FFCC00;
	height: 6%;
	margin-bottom: 1%;
}
.main{
	display: flex;
	width: 99%;
	height: 94%;
}
.main img{
	height: 95vh;
	width: 50vw;
	opacity: auto;
}
.detail{
	text-align: center;
}
.movieDetail{
	position: center;
}